*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #41b06eb8;
}
/* #list{
    overflow: auto;
} */
.main{
    margin: 10px auto;
    /* border: 2px solid black; */
    width: 550px;
    height: 590px;
    padding: 10px;
}
@media (max-width: 590px) {
    .main{
        width: auto;
    }
    #receive{
        margin-left: 33% !important;
    }
}
.head{
    background-color: #62bd88;    
    /* width: 500px; */
    /* height: 70px; */
    border-radius: 5px;
    padding: 9px;
    font-size: 30px;
    font-weight: 700;
}

.fa-robot{
    color: #09864ef6;
    font-size: 29px;
    margin: 0px  9px;
    margin-top: 10px;
}
.msgbody{
    height: 460px;
    border-radius: 5px;
    border: 4px solid #4fda89;
    margin: 10px 0;
    overflow: auto;
}
input{
    padding: 10px;
    width: 470px;
    outline: none;
    border: none;
    font-size: 16px;
    font-family: monospace;
    /* background-color: rgb(178, 178, 240); */
    /* background-color: #8decb4d3; */
    /* background-color: #43a16a; */
    background-color: #62bd88;
}

.sendmsg{
    height: 50px;
    border-radius: 5px;
    /* border: 2px solid black; */
    padding: 5px 6px 0px;
    background-color: #62bd88;
    /* background-color: #43a16a; */
    /* background-color: rgb(178, 178, 240); */
    display: flex;
    align-items: center;
    overflow-y: auto;
}
button{
    border: none;
    outline: none;
    /* background-color: #5be192d3; */
    background-color: #62bd88;
    /* background-color: rgb(178, 178, 240); */
}
.fa-paper-plane{
    font-size: 27px;
    padding: 0px 13px;
    color: #09864ef6;
    cursor: pointer;
}

#send, #receive{
    margin: 10px 0;
    list-style: none;
    /* border: 2px solid; */
    border-radius: 5px;
    width: 180px;
    font-size: 18px;
    padding: 9px 20px;
    background: #4fda89;
}
#receive{
    margin-left: 57%;
}
#animation{
    margin-left: 85%;
    /* border: 2px solid; */
}